 *{
  padding: 0;
  margin: 0;
}
table {
  width: 100%;
  border-collapse: collapse; 
}
td {
  vertical-align: middle; 
}
td.centered {
  text-align: center;
}
td.right-aligned {
  text-align: right;
}
.thead_Table_Client {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}


tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
tbody tr:nth-child(even) {
  background-color: #fff;
}
._dataTableClientRowsFixed,
._dataTableClientRowsFixed td,
.tbody_tableClient td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.imgLine {
  width: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.imgLine:hover {
  opacity: 0.8;
}
.containerImg {
  display: flex;
  align-items: center;
}
/* ================== */
