*{
  margin: 0;
  padding: 0;
}
.containerMeasure{  
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color:teal ;    
  justify-content: center;
  align-items: center;
 }
 .ScribeToText {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100%;
  height: 35px;
  background-color: #5a5a5aa9;
  color: #2229;
 }
.productionToken {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 53px;
  background-color: #858383; 
  border-bottom: 1px solid #480082;
} 
.collunTokenMeasure {
  display: block;
  width: 70%;
  height: 100%;
  border: 4px solid #480082;
  background-color: white;
  overflow-y: scroll;
  
}
/*-CD-*/
.containerColumnGray{
  display: block;
  width: 100%;
  height: 100px;
  background-color: #e7e7e7;  
  margin-top: 2px; 
  border-bottom: 1px solid #480082;
}
 .itemDatas {
  width: 100%;
  height: 55%;
  display: block;
 }
 .inputClient {
  height: 25px;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid #2229;  
  border-right: 2px solid #2229;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
  outline: none; 
 }
.medidas {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  grid-column: 1/10;
  background-color: #a19f9f;
  margin: 0;
}
.containerColumnChocolate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 51px;
  background-color: chocolate;
  gap: 24px;
}
.formChocolate {
  height: 57px;
}
.displayBlock {
  display: block;   
}
.imgSizePunho {
  width: 70px;
} 
.typeInput {
  width: 60px;
  height: 25px;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid #2229;  
  border-right: 2px solid #2229;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none; 
}
.iMonograma {
  width: 85px;

}
.textMeasure{
  font-size: 11px;
  color: #222;
  font-family: roboto;
  letter-spacing: 1px
}
.sectionTypeColarinho {
  display: block;
}
.radioParis {
  display: flex;
  gap: 10px;
  justify-content: center;  
}
.imgColarinho {
  width: 110px;
  margin-top: 10px;
}
.imgParis {
  width: 110px;
  margin-top: 10px;
}
.scribeParis {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  background-color: #a19f9f;
}
.divParisMeasure {
  display: block;
}
/* MP */
.modelPunho {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  background-color: #e7e7e7;
  border-bottom: 1px solid #480082;
}
.typePunho {
width: 100%;
height: 70px;
margin-top: 49px;
background-color: #e7e7e7;
}
.typeCamisa {
  width: 100%;
  height: 70px;
  margin-top: 49px;
  background-color: #e7e7e7;
  }  
  .columnShirtMeasure {
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: olive;    
 }
 .itemA {
    display: flex;
}
.Mang {  
  display: flex;
  margin-left: 50%;
  transform: translate(-50%);
}
 .itemPalaBolso {
  display: flex;
  justify-content: space-around;
 }
 .containeOne {
  display: flex;
  width: 100%;  
 }
 .containerTwo {
  display: flex;
  width: 35%;
  justify-content: center;
  align-items: center;
  gap: 75px; 
 }
 .containerThree {
  display: flex;
  width: 35%;
  justify-content: center;
  align-items: center;
  gap: 75px; 
 }
.containerFour {
  display: flex;
  margin-left: 50%;
  transform: translate(-50%);
}
/*  */
.TypeCamisa{
  display: block;
  width: 100%;
  height: 70px;
  margin-top: 57px;
}
.containerMoldeMeasure {
  display: flex;
  /* background-color: violet; */
  background-color: #e7e7e7;
  width: 100%;
}
.leftMolde {
  display: block;
  width: 30%;
  background-color: chocolate;
}
.itemSectionShirt {
  display: flex;
  justify-content: center;
  width: 100%;
}
.imgMang {  
  width: 75%;  
}
.itemBolso {
  display: flex;
  gap: 75px;  
  
}
.imgbolso {
  width: 55px;
}
.itemFreteCosta {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 17px;
  margin-left: -7px;
}
.imgFrente {
  width: 80px;
  height: 160px;
  margin-left: 10px;
}
.itemSectionScribe {
  width: 100%; 
  height: 100%;
  /* background-color: #480082; */
}
.scribeToObs {
  padding: 10;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;  
}
.messageTextarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1em;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}
.itemButton {
  display: flex;
  gap: 10px;
  background: ;
}
.buttonEnviar {
  background-color: #480082;
}
.buttonLimpar {
  background-color: #480082;
}

















