*{
  margin: 0;
  padding: 0;  
  /* box-sizing: border-box; */
}
.containerBody{
  width: 100vw;
  height: 100vh;
  background-color: beige;
  margin: 0 auto;
 }
.topOrange{ 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: rgb(131, 131, 130);
  border-bottom: 1px solid #222;
}
.logotipo {
  width: 50px;
  height: 50px;
  margin-left: 10%;
}
._iBuscar { 
  width: 170px;
  height: 30px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #222; 
  margin-right: 20%;
  text-indent: 10px;
  cursor: pointer;
}
.closeClient {
  text-align: center;
  width: 8%;
  margin-right: 45px;
  color: rgba(34, 34, 34, 0.9);
  letter-spacing: 1px;
  cursor: pointer;
  font-family: roboto sans-serif;
}
.s_Left{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%; 
  height: 100%;  
}
.s_Left section:nth-child(1) {
margin-left: 10%;
}
._logoTipo {
  width: 55px;
  margin-left: 50%;
  transform: translate(-50%);
}
.h1_textKamisaria {  
  color: rgba(34, 34, 34, 0.9);
  font-size: 16px;
  transform: scaleY(1.3);
}
.s_Kamisaria {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;   
}
.s_Kamisaria h1 {
  font-size:large;
  text-decoration: underline;
  font-family: roboto sans serif;
  color: rgba(34, 34, 34, 0.9);
}
.s_Buscar {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 5px;
}
.ImgLupaSearch {
  width: 18px;
  height: 18px;
  color: white;
  margin-top: 7px;
}
.a_CadastroCliente {
  width: 100%;
  height: 10%;
  display: block;   
  background-color: beige;  
}
.textArticleCad {
  font-size: 32px;  
  font-weight: bold; 
  font-family: 'Times New Roman', Times, serif;
  margin-left: 3%;  
}
.textArticleCli {
  font-family: roboto , sans-serif;
  margin-left: 3%;
  font-size: 14px;
  font-weight: 400;
}
.mainPainel {
  display: block;  
  width: 100%;
  height: 25%;
  background-color: #ccc9;
  padding: 10px; 
  border-top: #222 1px solid;
  border-bottom: #222 1px solid;
}
.personalDate {
  display: flex;
  justify-content: center;
  width: 95%; 
  margin-left: 50%;
  transform: translate(-50%);
  gap: 15px;
}
.personalDate p {
  font-size: 11px;
}
._iMain{
  width: 100%;
  height: 27px;
  border-radius: 3px;
  outline: none; 
  text-indent: 10px;
  font-size: small;
  font-family: arial;
  border: 1px solid #222;
  color: #222;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 0.8px;
}
._iMail-Email {
  width: 95%;
  height: 27px;
  border-radius: 3px;
  outline: none; 
  text-indent: 10px;
  font-size: small;
  border: 1px solid #222;
  color: #222;
  cursor: pointer; 
}
.adressDate {
  display: flex;
  justify-content: center;
  width: 95%;  
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 15px;
  gap: 15px;
}
._label {
  font-size: small;
  letter-spacing: 1px;
  color: rgba(28, 28, 28, 0.9);
  font-family: arial;
}
._anivesario {
  width: 100%;
}
.sCpf {
  width: 20%;   
}
.sNome {
  width: 50%; 
}
.sEmail {
  width: 50%;  
}
.sCelular {
  width: 20%;  
}
.sTelefone {
  width: 20%;  
}
.sAniversario {
  width: 20%;   
}
.sCep {
  width: 20%;
}
.sEndereco {
  width: 50%;
}
.sNumero {
  width: 5%;
}
.sComplemento {
  width: 10%;
}
.sCidade {
  width: 20%;
}
.sUf {
  width: 5%;
}
.sBairro {
  width: 25%;
}
.f_Button {
  display: flex;
  width: 100%;
  justify-content: end;  
  padding: 5px;
  gap: 30px;    
  background-color: rgb(224, 222, 222);
}
.btn_Cancelar {
  width: 10%;  
  background-color: rgb(106, 105, 105);
  font-size: small;
  font-family: roboto;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 28px;
}
.btn_Cancelar:hover {
  color: rgba(34, 34, 34, 0.9);
  cursor: pointer;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  color:  #ccc;
}
.btn_Salvar {
  width: 10%; 
  background-color: teal;
  font-size: small;
  font-family: roboto;
  font-weight: 400;
  text-transform: uppercase;
}
.btn_Salvar:hover {
  background-color: rgb(1, 148, 148);
  cursor: pointer;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  color:  #ccc;
} 
   .list {
    max-height: 35%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    margin: 20px 1;
    white-space: nowrap;
    position: relative;
  }  
._table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  font-size: 14px;  
}
.thead_ClientTable {
  border: 1px solid #ddd; 
  padding: 8px; 
  text-align: left; 
  background-color: rgb(1, 148, 148); 
  font-weight: bold; 
  letter-spacing: 1px;
  text-transform: capitalize;
}
td {
  border: 1px solid #ddd; 
  padding: 8px; 
  text-align: left; 
  text-transform: capitalize;
}
.thead_ClientTable {
  position: sticky;
  z-index: 2;
  top: 0;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
  color: #fff;
  text-align: center;
}
._captalise {
  text-transform: lowercase;
}
tr:nth-child(even) {
  background-color: #eeebeb; 
}
tr:nth-child(odd) {
  background-color: #fff; 
}
.containerImg  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.containerImg img { 
  width: 30%;
  height: 30%;
}
/* @Media */
@media (max-width: 768px) {
  ._table {
    font-size: 12px;
  }
  .thead_ClientTable,
  tbody td {
    padding: 8px;
  }
}
@media (max-width: 480px) {
  ._table {
    font-size: 10px;
  }
  .thead_ClientTable,
  tbody td {
    padding: 6px;
  }
}


