*{
  padding: 0;
  margin: 0;
}
.containerTypeMeasure{  
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 1px;
  /* background-color:teal ;     */
} 
.form-ScreenTokenMeasure {
  display: block;
  width: 70%;
  height: 100%;
  border: 4px solid orangered;
  background-color: #f5f5f5;
  overflow-y: scroll;  
  margin-top: 10px; 
  padding: 5px;
}
._wrapper-header {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  margin-top: 10px; 
} 
._wrapper-header section:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: start;
  margin-left: 10px;
  align-items: center;
  width: 100%;
  gap: 10px; 
  margin-bottom: 20px;
  
}
._wrapper-header section:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
  width: 100%; 
  margin-right: 10px;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;    
}
._wrapper-header section:nth-of-type(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/4;
  grid-row: 2;  
}
._wrapper-header section:nth-of-type(4) {
  grid-column: 4;
  grid-row: 2;  
  margin-right: 10px;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}
._wrapper-header img:nth-of-type(1) {
  width: 40%;
}

.for-text {
  width: auto;  
  margin: 0 10px 0 0; 
  display: flex;
  align-items: center;  
  margin-bottom: 6px; 
  font-size: 14px;
  color: #333;
}

.for-Inputs-small {
  max-width: 150px; 
}


.for-Inputs {
  padding: 6px 10px; 
  font-size: 14px; 
  box-sizing: border-box;
  grid-column: 2;
  width: 100%;  
  border:  1px solid #ccc; 
  height: 25px;
  border-radius: 2px;  
  outline: none;   
}
.for-Inputs:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.textToken {
  font-size: 23px;
}

.secInfoClient { 
  display: flex;  
  align-items: center;
  width: 25%;
  height: 100%;
  gap: 8px;
  font-size: 1rem;
  margin-left: 5px;
 } 
 .numberToken{
  display: flex;  
  width: 100%;
  height: 30px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #222;
  color: #2229;
 } 
.iFont {
  font-weight: bold;
}
  ._rows-OneData {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;    
    gap: 3px;
  } 
  

.wrapper-dataForm {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 10px;
  background-color: #f5f5f5;  
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  /* background-color: teal; */
}
.wrapperContact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color:  #d5d5d5;
  padding: 10px;
  border-radius: 8px;
}

  
  .wrapper-dataForm section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-row: 1;   
    margin-top: 5px;
  }
  .wrapper-dataForm section:nth-of-type(2) {
    display: flex;
    width: 100%;   
    grid-row: 2;
  }
  .wrapper-dataForm > section:nth-of-type(2) p {
    display: flex;
    align-items: center;
    width: 20%;
    height: 25px;   
    grid-row: 2;
    margin-right: 10px;
    margin-left: 5px;   
    margin-top: 3px;
    margin-bottom: 3px;
  }  
  .wrapper-dataForm > section:nth-of-type(3) p {
    display: flex;
    align-items: center;
    width: 20%;
    height: 25px;     
    grid-row: 2;
    margin-right: 10px;
    margin-left: 5px;   
    margin-top: 3px;
    margin-bottom: 3px;    
  }  

  .wrapper-dataForm input.for-Inputs {
    margin-right: 5px;
    width: 80%;
    height: 30px;
    padding: 5px;
    background-color: beige; 
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    text-align: left; 
    grid-row: 2;
    margin-top: 3px;
    margin-bottom: 3px;
  }  

  .wrapper-dataForm > section:nth-of-type(4) p {
    display: flex;
    align-items: center;
    width: 20%;
    height: 25px;   
    grid-row: 4;
    margin-right: 10px;
    margin-left: 5px;   
    margin-top: 3px;
    margin-bottom: 3px;    
  } 

  .wrapper-DeliveryDate { 
    display: flex;
    justify-content: center;
    width: 100%; 
    border: 1px solid #ccc;
    background-color: #d5d5d5;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */
    gap: 5px;
    border-radius: 8px;
    padding: 10px;    
  }
  .info-date {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .oderDate {
    display: flex;
  flex-direction: column;
  width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .oderDate p {
    width: auto !important;   
    margin: auto !important;
  }
  .oderDate:nth-of-type(2) input {
    text-align: center;
    font-size: 0.8em;
  }  
.measures-datas {
  display: grid;  
  width: 100%;    
  grid-template-columns: repeat(8, 1fr);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #d5d5d5;
 }
 .measures-datas p {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
  height: auto !important;
  font-size: 10px; 
  font-family: Roboto, sans-serif; 
  text-align: center !important;  
}
.measures-datas input {  
  margin: 0;
  padding: 0;   
  width: 100%;
  outline: none;  
  color: black;    
  border: 1px solid #ccc;  
  font-size: 0.82em;  
  text-align: center;  
  box-sizing: border-box;
  text-indent: -5px;
}

._wrapper-measure-left {
  display: flex;
  justify-content: center;
  width: 100%; 
  border: 1px solid #ccc;
  background-color: #d5d5d5;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */
  gap: 5px;
  border-radius: 8px;
  padding: 10px;
  /* margin-top: 5px; */
}

.wrapper-measure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
}


.box-colar {
  display: grid;  
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "paris windsor"
  "italy ingles"
  "douglas bicodow";
  background-color: #d5d5d5;  
  padding: 20px;
  border-radius: 8px;
 }
 
 ._sec-colar {
   display: flex;
   flex-direction: column;  
   justify-content: center;  
   align-items: center; 
   margin: 0;  
   margin-right: 5px;   
   padding: 0;
 }
 ._sec-colar:nth-of-type(1) {
   grid-area: paris;   
 }
 ._sec-colar:nth-of-type(2) {
   grid-area: windsor;  
 }
 ._sec-colar:nth-of-type(3) {
   grid-area: italy; 
 }
 ._sec-colar:nth-of-type(4) {
   grid-area: ingles; 
 }
 ._sec-colar:nth-of-type(5) {
   grid-area: douglas;   
 }
 ._sec-colar:nth-of-type(6) {
   grid-area: bicodow; 
 }

.imgColarinho {
  margin: 0; 
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  object-fit: contain;
}
 ._secImput-radio {
  transform: scale(1);
  font-size: 1em;
  margin: 0;  
  accent-color: #333;  
  width: 20px;
  height: 20px;
  margin-right: 10px; /* Espaçamento à direita do input */
  border: 2px solid #000; /* Cor e espessura da borda */
  border-radius: 50%; /* Formato redondo */
  cursor: pointer;
}
._secInfoRadio {  
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  line-height: 1; 
  width: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: #333;
  cursor: pointer;
}
 .meters {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;  
}
.tissue {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tissue:nth-of-type(1) input {  
  width: 70%;
  font-size: 0.8em !important;
  text-align: center;
}
.tissue:nth-of-type(2) input {  
  width: 70%;
   font-size: 0.8em !important;
  text-align: center !important;
}
.tissue p {  
  width: auto !important;
  text-align: center;
}
.rowsTwoMeasure {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: 10px;
  width: calc(100% -10px);
  max-width: 100vw;
  height: auto;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #d5d5d5;
  border-radius: 8px;
  box-sizing: border-box;
}
.typeFront {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}
.typeFront > section {
  display: flex;  
  align-items: center;
}
.rowsThreeMeasure {
  display: grid;
  grid-template-columns: 30% 70%;  
  margin-top: 20px;
  gap: 5px;
}
.item-CollumnLeft {
  width: 100%;
  max-width: 100vw;
  flex-wrap: wrap;
  margin-left: 10px;
  width: calc(100% - 10px);
  border: 1px solid #ccc;
  background-color: #d5d5d5;
  border-radius: 8px;
  box-sizing: border-box;
  border-radius: 8px;
}
.rowsThreeMeasure > .item-CollumnLeft {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto auto;
}
.item-CollumnLeft > section:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  grid-column: 1 / span 2;
  grid-row: 1;  
}
.item-CollumnLeft section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  grid-column: 1 / 2;
  grid-row: 2;  
}
.item-CollumnLeft section:nth-of-type(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  grid-column: 2 / 3;
  grid-row: 2;  
}
.item-CollumnLeft section:nth-of-type(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  grid-column: 1;
  grid-row: 3;
  padding: 10px;  
}
.item-CollumnLeft section:nth-of-type(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  grid-column: 2;
  grid-row: 3;
  padding: 10px; 
}
.item-rowsRight {
  grid-column: 2;
  background-color: #f5f5f5;
}
._wrapper-fist {
  display: grid;  
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr; 
 margin-top: 20px;  
  background-color: #d5d5d5;
  border: 1px solid #ccc;  
  padding: 20px 20px;
  border-radius: 8px;
  gap: 15px;
}
._sec-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 5px;
  border-radius: 8px;
}
._sec-first img {
  width: 50%;
}
._sec-first > section {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px;
  width: auto;  
  gap: 5px;
}
.item-rowsRight form {
  grid-column: 1 / -1;
  width: 100%;
  height: 100%;  
}
.item-rowsRight form textarea {
width: 100%;
height: 100%;
box-sizing: border-box;
outline: none;
text-indent: 10px;
padding-top: 20px;
font-size: 1rem;
border: 1px solid #ccc;
}
.imgManga {
  width: 90%;
  padding-left: 10px;
  padding-right: 10px; 
  /* background-color: violet; */
}
.imgTypeBolso {   
  width: 55%;
  /* background-color: orange; */
}
.imgTypePala {
  width: 90%;  
}
.FrenteCosta {
  display: flex;
  justify-content: center;
  width: 90%;
  background-color: red;  
}
.img-frente {
width: 100px;
height: 200px;
/* background-color: yellow; */
}
.img-costa {
  width: 95%;
  height: 185px;
  /* background-color: yellow; */
}
._iIngles {
  margin-left: -6px;
  width: 25%;
} 
._iIngles {
  margin-left: -6px;
  width: 25%;
}
._iDouglas {
  margin-left: 10px;
  width: 25%;
}
._BicoDow {
  margin-left: 3px;
  width: 25%;
}
.delivery-date-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1; 
}
.typeOfShirts {
  display: block;
  width: 100%;  
}
.moldeLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}
.typeBolso {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 20px;  
}
.typeFormRight{
display: flex;
  justify-content: center;
  align-items: start;
  width: 70%;
}
.displayBlock {
  display: block;
  width: 100%;
}
.firstRowsOptions {
  display: flex;
  justify-content: center;  
  width: 100%;   
}
.ArticleGap {
  gap: 5px; 
  /* background-color: beige; */
}
.message {
  width: 100%;
  /* background-color: beige; */
  height: 70%;
} 
.areaBottom {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;  
  gap: 10px; 
}
.screenClose{
  width: 31%;
  height: 30px;
  background-color: chocolate;
  margin-left: 30px;
}
.sendForm {
  width: 31%;
  height: 30px;
  background-color: green;
}
.printScreen {
  width: 31%;
  height: 30px;
  background-color: royalblue;
}
.backToForm {
  width: 31%;
  height: 30px;
  background-color: grey;
   margin-right: 30px;
}
.wrapper-dataForm section {
  display: flex;
  align-items: center;
  width: 100%;
}
.wrapper-dataForm p.for-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 10px 0 0;  
}
.client-data-title {
  width: 100%;
}
.client-data-title P {
  text-align: center;
}
.box-colar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
._sec-colar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding: 10px;
  border-radius: 8px;
  /* background-color: #f5f5d6; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

