*{
  padding: 0;
  margin: 0;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}
.backgroundTransparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}
.modalOpen {
  width: 50%;
  height: 150px;
  background-color: aliceblue; 
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid #9a9999;
  background-color: var(--color-blue );
}
.headerModal {  
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  gap: 5px;  
}

article {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  font-size: 12px;
  color: #2229;  
  margin-top: 30px;
}
article p {
  font-size: 20px;
  color: black;
}
.btm-close {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 22px;
  height: 22px;
  border-radius: 0;
  color: white;   
  border-radius: 2px;
}
.spanModal {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  font-size: 12px;
  color: white;   
  font-weight:  300;
  font-family:  Roboto;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1); 
   height: 20px;   
 }
aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: aliceblue; 
  font-size: 13px;
  color: #2229;
}
aside h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 17px; 
  border: none;
}
@keyframes changeColor {
  0% { color: white; }
  14.28% { color: black; } 
}
.animated-text {
  animation: changeColor 1s infinite;
}


/* 
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 9999;
}

.modal-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content li {
  color: red;
  margin-bottom: 10px;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
